.interactive-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* Behind BackgroundPattern if we want, or just -1 if BackgroundPattern is 0 */
    pointer-events: none;
    /* Let clicks pass through */
}